# File: requirements.txt

# --- Server ---
fastapi
uvicorn
gunicorn

# --- Frontend ---
streamlit
requests

# --- LangChain Core ---
langchain
langgraph
pydantic

# --- LLMs & DBs ---
langchain-groq
langchain-openai
langchain-community
sqlalchemy

# --- Utilities ---
pandas
python-dotenv
psycopg2-binary