
fastapi
uvicorn

streamlit
requests

langchain
langgraph
pydantic

langchain-groq
langchain-openai
langchain-huggingface
sentence-transformers

langchain-community
langchain-chroma
chromadb
sqlalchemy

pandas
python-dotenv
gunicorn